body {
    font-family: "Raleway", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    display: block;
    max-width: 414px;
    min-width: 320px;
    background-color: #fff;
    margin: 0 auto;

    h1 {
        color: #999;
        font-family: "Raleway", Arial, sans-serif;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }

    h2 {
        color: #999;
        font-family: "Raleway", Arial, sans-serif;
        font-size: 28px;
        text-align: center;
        //text-transform: uppercase;
        margin: 30px 0 0 0;
        padding: 20px 0;
    }

    img {
        &.card_art {
            display: block;
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 8px 24px;
        }
    }

    a {
        display: block;
        text-decoration: none;

        &.cta {
            font-size: 24px;
            color: #999;
            text-align: center;
            padding: 20px 0;

            &:hover {
                background-color: #f9f9f9;
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            text-align: center;

            &.italic {
                font-style: italic;
            }
        }
    }

    @media only screen and (min-width: 415px) {
        max-width: 300px;
    }

    @media only screen and (min-width: 576px) {
        max-width: 540px;
    }

    @media only screen and (min-width: 768px) {
        h2 {
            font-size: 24px;
        }

        img {
            &.card_art {
                padding: 8px 0;
            }
        }
    }
}

footer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;

    hr {
        width: 80%;
        margin: 60px auto 30px;
    }

    span {
        font-weight: 600;
    }
}